<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="pt.isel.bgg">

    <application
        android:name=".app.BGGApp"
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity android:name=".activities.AboutActivity"></activity>
        <activity android:name=".activities.GameDetailActivity"></activity>
        <activity android:name=".activities.GamesListActivity"></activity>
        <activity android:name=".activities.PersonalisedListsActivity"></activity>
        <activity android:name=".activities.AddGameToListActivity"></activity>
        <activity android:name=".activities.ListDetailsActivity"></activity>
        <activity android:name=".activities.FavoritesActivity"></activity>
        <activity android:name=".activities.CategoriesActivity"></activity>
        <activity android:name=".activities.MechanicsActivity"></activity>
        <activity android:name=".activities.FavoriteGamesActivity"></activity>
        <activity android:name=".activities.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"></uses-permission>
    <uses-permission android:name="android.permission.INTERNET"/>

</manifest>