<a class="nav-item nav-link" href="#games">Popular Games</a>
<a class="nav-item nav-link" href="#groups">Groups</a>
<a class="nav-item nav-link" href="#about">About</a>
<a class="nav-item nav-link" href="#logout">Logout</a>