 <a class="nav-item nav-link" href="#games">Popular Games</a>
<a class="nav-item nav-link" href="#about">About</a>
<a class="nav-item nav-link" href="#signUp">Sign up</a>
<a class="nav-item nav-link" href="#userLogin">Login</a>